
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}
.a{
	width:100px;
	height:100px;
	background-color:green;
}
.b{
	width:100px;
	height:100px;
	background-color:red;
}
.c{
	width:100px;
	height:100px;
	background-color:blue;
}